body{
	background-color:white;
	font-family: 'arial';
	
}
header h1{
	
    font-size: 0pt;
    color: #088A08;
    font-size: 50pt;
    margin-top: 10px;
    padding: 0px;
}
header h2{
	
    color: #088A08;
    font-size: 30pt;
  
}

.text{
	color: #088A08;
	display:flex;
	flex-wrap:wrap;
	margin:auto;
	font-size:15px;
	width:85px;
	border-radius:15px;
	margin-bottom:10px;
	font-weight:bold;
	
}
.mid{
	color: #088A08;
	display:flex;
	flex-wrap:wrap;
	margin:auto;
	font-size:15px;
	width:240px;
	border-radius:15px;
	margin-bottom:50px;
	font-weight:bold;
	padding-right:30px;
}
.mid input{
	border-radius:15px;
	border-width:3px;
	border-style:solid; 
	border-color:#088A08;
	color:#088A08;
	height:22px;
	width:240px;
	padding-right:10px;
}

.caixabtn{
	display:flex;
	flex-wrap:wrap;
	margin:auto;
	font-size:15px;
	width:360px;

}
.btn{
	display:flex;
	justify-content: space-between;
	flex-wrap:wrap;
	margin:auto;
	width:150px;
	height:50px;
	background-color:#088A08;
	font-size:15px;
	border-radius:15px;
	margin-right:30px;
	color:white;
}



a:link,a:visited,a:active{
    text-decoration: none;
}





